/* _custom.scss */

/* Custom styles for the About page button */
.btn-icon {
    display: inline-flex;
    align-items: center;
    background-color: #007bff00;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
  }
  
  .btn-icon:hover {
    background-color: #0057b309;
  }
  
  .icon-image {
    width: 10px;
    height: 10px;
    margin-right: 8px;
  }
